## **Feature Scaling**

In [1]:
# pip install scikit-learn

## 1. Min Max Scaling

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# Sample data
data = {
    'Value':[10, 20, 30, 40, 50]
}
# Create a DataFrame
df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [3]:
# Scale the data using MinMaxScaler
scaler = MinMaxScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
df.head()

   Value  Value_scaled
0     10          0.00
1     20          0.25
2     30          0.50
3     40          0.75
4     50          1.00

## 2. Standard Scalar or Z-score Normalization

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Sample data
data = {
    'Value':[10, 20, 30, 40, 50]
}
# Create a DataFrame
df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [5]:
# Scale the data using StandardScaler
scaler = StandardScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
df.head()

   Value  Value_scaled
0     10     -1.414214
1     20     -0.707107
2     30      0.000000
3     40      0.707107
4     50      1.414214

## 3. Robust Scalar

In [6]:
import pandas as pd
from sklearn.preprocessing import RobustScaler
# Sample data with outliers
data = {
    'Value':[10, 20, 30, 1000, 50]
}
# Create a DataFrame
df = pd.DataFrame(data)
df.head()
# Robust Scaling
scaler = RobustScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
print(df)

   Value  Value_scaled
0     10     -0.666667
1     20     -0.333333
2     30      0.000000
3   1000     32.333333
4     50      0.666667

## 4. Logrithmic Scaling/ Normalization

In [7]:
import pandas as pd
import numpy as np

# random data with outliers
data = {
    'Value':[10000, 20000, 30000, 100000, 50000]
}
df = pd.DataFrame(data)

# Log Transform
df['Value_log'] = np.log(df['Value'])
df['Value_log2'] = np.log2(df['Value'])
df['Value_log10'] = np.log10(df['Value'])
df.head()

    Value  Value_log  Value_log2  Value_log10
0   10000   9.210340   13.287712     4.000000
1   20000   9.903488   14.287712     4.301030
2   30000  10.308953   14.872675     4.477121
3  100000  11.512925   16.609640     5.000000
4   50000  10.819778   15.609640     4.698970