In [2]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
import pickle

# Read data
df = pd.read_json('Data/House_Price.json')
print(df.head())  # optional: To confirm data is loaded properly

# Features and Labels
X = df['Area(in sq. ft)'].values.reshape(-1, 1)
y = df['Price(in Rs.)'].values.reshape(-1, 1)

# Linear Regression Model
model = LinearRegression()
model.fit(X, y)

# Save model
pickle.dump(model, open('model.pkl', 'wb'))

print("Model trained and saved as model.pkl")

   Area(in sq. ft)  Price(in Rs.)
0              500         800000
1              750        1200000
2             1000        1500000
3             1200        1800000
4             1500        2250000
Model trained and saved as model.pkl

In [3]:
df.head()

   Area(in sq. ft)  Price(in Rs.)
0              500         800000
1              750        1200000
2             1000        1500000
3             1200        1800000
4             1500        2250000